.spacing > * + * {
    margin-top: var(--spacer, 2.5rem);
}

@mixin fillPage {
    min-height: 91vh;
    @media only screen and(max-width:$vp-6) {
        min-height: 82vh;
    }
}
.container {
    width: 85%;
    max-width: 120rem;
    margin: 0 auto;
}
