.container-services {
	background-color: var(--secondary);
}

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10rem 0;
}

.services-heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	.section-title {
		color: var(--accent);
	}
	.services-subtitle {
		font-weight: 800;
		max-width: 40rem;
	}
}

.services-offers {
	padding: 7.5rem 0;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	justify-items: center;
	row-gap: 5rem;
	@media only screen and(min-width:$v-9) {
		grid-template-columns: 1fr 1fr;
		row-gap: 7.5rem;
		column-gap: 3.5rem;
		& > * {
			margin: 0;
		}
	}
	@media only screen and(min-width:$v-12) {
		grid-template-columns: repeat(3, 1fr);

		& > * {
			margin: 0;
		}
	}
}
.offer {
	&-image {
		width: 7rem;
		height: 7rem;
		padding: 1.5rem;
		border-radius: 50%;
		background: rgba(196, 196, 196, 0.02);
		border: 1px solid rgba(255, 255, 255, 0.1);
	}
	&-title {
	}
	&-paragraph {
		width: 100%;
		max-width: 40rem;
	}
}
.offer-one,
.offer-three,
.offer-five {
	.offer-title {
		color: var(--accent);
	}
	.offer-image {
		svg {
			stroke: var(--accent);
		}
	}
}
.offer-two,
.offer-four,
.offer-six {
	.offer-title {
		color: var(--tertiary);
	}
	.offer-image {
		svg {
			stroke: var(--tertiary);
		}
	}
}
